:root {
	--first-font: "Oswald", sans-serif;
	--second-font: "Noto Sans JP", sans-serif;
	--yew-color: #184e46;
	--sky-color: #d5dfed;
	--sea-color: #d5e6d8;
	--yorkstone-color: #f3eddf;
	--raven-color: #444444;
	--cloud-color: #efefef;
	--white-color: #ffffff;
}

.Meaning h3 {
	font-family: var(--first-font);
	color: var(--raven-color);
	font-size: 27px;
	text-align: center;
	text-transform: capitalize;
	line-height: 1.5;
	font-weight: 600;
	padding: 0 0 5px 0;
	margin: 0 auto;
}

.Meaning .definition {
	font-family: var(--second-font);
	color: var(--raven-color);
	font-size: 17px;
	font-weight: 500;
	padding-top: 10px;
}

.Meaning .example {
	font-family: var(--second-font);
	color: var(--yew-color);
	text-align: center;
	font-size: 15px;
	font-style: italic;
	font-weight: 500;
	opacity: 0.8;
	margin-top: 7px;
	padding-top: 15px;
}
